In [5]:
str=" HELLO world "
str=str.replace(" ", "")
str

'HELLOworld'

In [6]:
str=" HELLO world "
str=str.strip()
str

'HELLO world'

In [7]:
str.lower()

'hello world'

In [8]:
str.upper()

'HELLO WORLD'

In [10]:
s="hello:hi"
s.split(":")  #always returns in a list as a output

['hello', 'hi']

In [11]:
#string concatenation
s=s+str
s

'hello:hiHELLO world'

In [12]:
s="my,name,is,shyam"
s=s.split(",")
s

['my', 'name', 'is', 'shyam']

In [13]:
#joining the split string s by  using @
join_s = "@".join(s)
join_s

'my@name@is@shyam'

In [ ]:
# Iterating through keys
print("Keys:")
for key in my_dict:
    print(key)

# Iterating through values
print("Values:")
for value in my_dict.values():
    print(value)

In [36]:
dict={'shyam': '01-01-2003', 'rohit':'02-02-2004', 'rahul':'23-12-2002', 'ronak':'02-03-2005'}

name=input("enter the name: ")

if name in dict:
    day, month, year=dict[name].split("-")
    l1=[day, month, year]
    join_l1 = "/".join(l1)
    print(" dob of ", name, " is ", join_l1)
else:
    print(name, " is not found in birthday dict ")

enter the name: 2004

In [34]:
age=21
str1 = "my age is {}".format(age) 
str1

'my age is 21'

In [ ]:
str=input